body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: white;
  text-align: center;
}
header {
  padding: 60px 20px;
}
header h1 {
  margin: 0;
  font-size: 4em;
}
header p {
  font-size: 1.5em;
  margin: 20px 0;
}
section {
  padding: 40px 20px;
}
h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-item {
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  overflow: hidden;
  background-color: #333;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.portfolio-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.portfolio-item .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity 0.3s;
}
.portfolio-item:hover img {
  transform: scale(1.2);
}
.portfolio-item:hover .info {
  opacity: 1;
}
.contact-info {
  list-style: none;
  padding: 0;
}
.contact-info li {
  margin-bottom: 10px;
}
.contact-info a {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s;
}
.contact-info a:hover {
  color: #21a1f1;
}

.link {
  margin-right: 0;
  text-decoration: none;
  position: absolute;
  left: 49%;
  top: 90%;
  z-index: 100;
  display: inline-block;
  height: 35px;
  width: 35px;
  color: white;
  border-radius: 50%;
  border-right: 25px solid transparent;
}
