/* General Styles */
* {
  cursor: none;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color); /* Updated with CSS variable */
  color: var(--text-color); /* Updated with CSS variable */
  text-align: center;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

header {
  padding: 8vh 5vw;
}

#header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.profile-pic {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  margin-bottom: 2vh;
}

header h1 {
  margin: 0;
  font-size: 4.5vw;
}

.description {
  font-size: 1.7vw;
  margin: 1vh 0 2vh 0;
  color: #686868; /* Hardcoded color, update if needed */
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.social-links a {
  color: var(--text-color); /* Updated with CSS variable */
  font-size: 2vw;
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--link-color); /* Updated with CSS variable */
}

section {
  padding: 4vh 5vw;
}

h2 {
  font-size: 2.5vw;
  margin-bottom: 2vh;
}

#about-me {
  background-color: var(--bg-color); /* Updated with CSS variable */
  color: var(--text-color); /* Updated with CSS variable */
  padding: 2vw;
  border-radius: 1vw; /* Adjusted border radius using viewport units */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 70vw; /* Adjusted max-width using viewport units */
  margin: 2vh auto 20vh auto; /* Adjusted margin using viewport units */
  text-align: left;
  animation: fadeInUp 1s ease-in-out;
}

/* Card Styles */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

.card {
  background-color: var(--card-bg-color); /* Updated with CSS variable */
  border-radius: 1vw;
  padding: 1vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 15vw;
  margin-bottom: 2vh;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05) translateY(-1vh);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.image-container,
.article-container {
  position: relative;
  width: 100%;
  height: 20vh;
}

.image,
.article-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5vw;
  object-position: 100% center;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: var(--overlay-bg-color); /* Updated with CSS variable */
  color: var(--text-color); /* Updated with CSS variable */
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 0.5vw;
}

.image-container:hover .overlay,
.article-container:hover .overlay {
  opacity: 1;
}

/* Additional Styles */
.menu {
  position: absolute;
  top: 1.5vh;
  right: 0.5vw;
  z-index: 1000;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 0.5vh;
  margin-bottom: 1.3vh;
  background-color: var(--card-bg-color); /* Updated with CSS variable */
  padding: 1.3vh;
  border-radius: 0.5vw;
}

.menu ul li a {
  color: var(--text-color); /* Updated with CSS variable */
  text-decoration: none;
  font-size: 1.8vh;
  transition: color 0.3s;
}

.menu ul :hover {
  background-color: var(--card-hover-bg-color); /* Updated with CSS variable */
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.scroll-indicator {
  position: fixed;
  top: 50%;
  left: 2vw;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5vh;
}

.scroll-indicator a {
  width: 12px;
  height: 12px;
  background-color: var(
    --scroll-indicator-bg-color
  ); /* Updated with CSS variable */
  border-radius: 50%;
  transition: background-color 0.3s;
  display: block;
}

.scroll-indicator a:hover,
.scroll-indicator a.active {
  background-color: white;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 2000;
}

.cursor2 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 2000;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

/* Media Queries */
@media (max-width: 800px) {
  header h1 {
    font-size: 7vw;
  }

  .description {
    font-size: 3vw;
  }

  h2 {
    font-size: 5vw;
  }

  .profile-pic {
    width: 30vw;
    height: 30vw;
  }

  .card {
    max-width: 80vw;
  }
}

/* Chevron down arrow styling */
.scroll-down {
  text-align: center;
  margin-top: 3vh;
}

.scroll-down i {
  font-size: 3vw; /* Adjust size as needed */
  color: var(--text-color); /* Updated with CSS variable */
  animation: bounce 2s infinite;
  transition: color 0.3s;
}

.scroll-down i:hover {
  color: var(--link-color); /* Updated with CSS variable */
}

section {
  padding: 4vh 5vw;
}

/* Bounce animation for the chevron */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Toggle Switch Styles */
.toggle-switch {
  display: none;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc; /* Updated with CSS variable */
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-label:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  background-color: #fff; /* Updated with CSS variable */
  transition: transform 0.3s;
}

/* Dark Mode */
.dark {
  --bg-color: #282c34;
  --text-color: #fff;
  --link-color: #61dafb;
  --card-bg-color: #3c3f47;
  --card-hover-bg-color: #22242b;
  --overlay-bg-color: rgba(0, 0, 0, 0.7);
  --scroll-indicator-bg-color: grey;
}

/* Light Mode  */
.light {
  --bg-color: #b0f7d9;
  --text-color: #282c34;
  --link-color: #ffabab;
  --card-bg-color: #86f9c9;
  --card-hover-bg-color: #c5ffba;
  --overlay-bg-color: rgba(255, 171, 171, 0.5);
  --scroll-indicator-bg-color: #ffabab;
}

/* Apply styles based on toggle state */
.toggle-switch:checked + .toggle-label {
  background-color: var(--link-color); /* Updated with CSS variable */
}

.toggle-switch:checked + .toggle-label:before {
  transform: translateX(20px); /* Position of toggle switch in dark mode */
}

/* Apply color theme based on toggle state */
.toggle-switch:checked ~ body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.toggle-switch:checked ~ .menu ul li,
.toggle-switch:checked ~ .scroll-indicator a {
  background-color: var(--card-bg-color);
}

.toggle-switch:checked ~ .menu ul :hover {
  background-color: var(--card-hover-bg-color);
}

.toggle-switch:checked ~ .overlay {
  background: var(--overlay-bg-color);
}

.toggle-switch:checked ~ .scroll-indicator a {
  background-color: var(--scroll-indicator-bg-color);
}
