html {
    scroll-behavior: smooth;
    height: auto;
}
body {
    height: auto;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: scroll;
    overflow-x: hidden;
}
  
#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    overflow-x: scroll;
    
  }


  


  :root {
    --dark: rgb(20, 20, 20);
    --yellow: rgb(253, 216, 53);
    --blue: rgb(98, 0, 234);
    
    --c1: rgb(15, 209, 209);
    --c2: rgb(20, 66, 60);
    
    --left-color: var(--c1);
    --right-color: var(--c2);
  }
  
  body {  
    background-color: var(--dark);
    margin: 0px;
  }

  .works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 8vw;
    margin: 0px 10vw;
    width: 80vw;
    color: white;
  }
  
  .side {
    display: grid;
    height: 100vh;
    overflow: hidden;
    place-items: center;
    position: absolute;
    width: 100%;
  }
  
  .side .title {
    font-family: "Rubik", sans-serif;
    font-size: 8vw;
    margin: 0px 10vw;
    width: 80vw;
  }
  
  .side .fancy {
    font-family: "Lobster", cursive;
    font-size: 1em;
    line-height: 0.8em;
  }
  
  #left-side {
    background-color: var(--left-color);
    width: 50%;
    background-position: center top;
    z-index: 2;
  }
  
  #left-side .title {  
    color: white;  
  }
  
  #left-side .fancy {
    color: var(--right-color);
  }
  
  #right-side {
    background-color: var(--right-color);
    background-position: center top;
  }
  
  #right-side .title {
    color: var(--dark);
  }
  
  #right-side .fancy {
    color: rgb(15, 209, 209);
  }
  
  